networkx
numpy
pandas
matplotlib
seaborn
scikit-learn
torch
torch-geometric
requests
tabulate
streamlit
plotly
dash
dash-bootstrap-components
kaleido
watchdog
streamlit-plotly-events
streamlit-aggrid
